/* CSS */

.navbar-brand {
    margin-right: 30px;
}

.banner {
    height: 350px;
    background: url("../img/banner/ban01.jpg") no-repeat;
    background-size: cover;
    filter: grayscale(100%);
}

/* card info */
.border-shadow {
    border: 1px solid #eee;
}

/* CAROUSEL */
.carousel-item {
    filter: grayscale(100%);
}

/* Filterizer */
.filtr-item img {
    width: 100%;
    height: 200px;
    filter: grayscale(100%);
}

.controls-filter {
    margin-bottom: 26px;
    color: red;
}

/* Courses */
#courses {
    min-height: 650px;
}

footer {
    margin-top: 30px;
    padding: 20px 0;
    border-top: 1px solid #dfdfdf;
    text-align: center;
}

footer h4 {
    padding-bottom: 1.2rem;
}

footer a {
    padding: 1rem;
    font-size: 1.2rem;
}